absl-py==0.9.0
aggdraw==1.3.12
aicsimageio==3.3.1
aicspylibczi==2.7.5
aiohttp==3.7.4.post0
aiohttp-cors==0.7.0
aioredis==1.3.1
appdirs==1.4.4
astor==0.8.0
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.9.1
blessings==1.7
blinker==1.4
CacheControl==0.12.6
cachetools==4.1.0
cachy==0.3.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
cleo==0.8.1
click==7.1.2
clikit==0.6.2
cloudpickle==1.6.0
colorama==0.4.3
coloredlogs==14.0
colorful==0.5.4
contextvars==2.4
coverage==4.0.3
crashtest==0.3.1
cryptography==35.0.0
cycler==0.10.0
Cython==0.29.23
czifile==2019.7.2
dask==2.30.0
dataclasses==0.8
decorator==4.4.2
distlib==0.3.1
distributed==2.30.1
filelock==3.0.12
Flask==2.0.2
Flask-Cors==3.0.10
gast==0.2.2
gevent==21.12.0
google==3.0.0
google-api-core==1.23.0
google-auth==1.33.0
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.52.0
gpustat==0.6.0
graphviz==0.19.1
greenlet==1.1.2
grpcio==1.35.0
h5py==2.10.0
HeapDict==1.0.1
hiredis==1.1.0
html5lib==1.1
humanfriendly==8.2
idna==2.9
idna-ssl==1.1.0
imagecodecs==2020.5.30
imagecodecs-lite==2019.12.3
imageio==2.8.0
immutables==0.14
importlib-metadata==1.7.0
importlib-resources==3.3.0
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==0.15.1
jsonschema==3.2.0
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keras-visualizer==2.4
keyring==21.5.0
kiwisolver==1.2.0
lockfile==0.12.2
lxml==4.5.1
mahotas==1.4.10
Markdown==3.1.1
MarkupSafe==2.0.1
matplotlib==3.2.1
mkl-fft==1.0.15
mkl-random==1.1.1
mkl-service==2.3.0
msgpack==1.0.0
multidict==5.2.0
napari-aicsimageio==0.1.3
napari-plugin-engine==0.1.8
networkx==2.4
numpy==1.18.1
nvidia-ml-py3==7.352.0
oauthlib==3.1.0
opencensus==0.7.11
opencensus-context==0.1.2
opt-einsum==3.1.0
packaging==20.4
pandas==1.0.5
pastel==0.2.1
pexpect==4.8.0
Pillow==7.1.2
pkginfo==1.6.1
poetry==1.1.4
poetry-core==1.0.0
prometheus-client==0.8.0
protobuf==3.12.3
psutil==5.7.3
ptyprocess==0.6.0
py-spy==0.3.3
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.20
pydot==1.4.2
pydotplus==2.0.2
PyJWT==1.7.1
pylev==1.3.0
pylibczi==1.1.1
pyOpenSSL==21.0.0
pyparsing==3.0.7
pyreadline==2.1
pyrsistent==0.16.0
PySocks==1.7.1
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
pywin32-ctypes==0.2.0
PyYAML==5.3.1
quiver-engine==0.1.4.1.5
ray==1.0.1
readlif==0.3.0
redis==3.4.1
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rsa==4.0
scikit-image==0.17.2
scikit-learn==0.23.1
scipy==1.4.1
shellingham==1.3.2
six==1.15.0
sortedcontainers==2.3.0
soupsieve==2.0.1
tblib==1.7.0
tensorboard==2.2.1
tensorboard-plugin-wit==1.6.0
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2020.6.3
tomlkit==0.7.0
toolz==0.11.1
tornado==6.1
typing-extensions==4.0.1
urllib3==1.25.8
virtualenv==20.1.0
visualkeras==0.0.2
webencodings==0.5.1
Werkzeug==2.0.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.12.1
xmltodict==0.12.0
yarl==1.6.3
zict==2.0.0
zipp==3.1.0
zope.event==4.5.0
zope.interface==5.4.0
